body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list { /*When wide screen*/
  margin-top: 5px;
  background:#85a573;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  font-size: 1.2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.container .text-center {
  padding-bottom: 20px;
}

.row .section .title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.row .section .dish {
  background: #9b7213;
  padding: 10px;
}

.row {
  margin: 10px;
}

.navbar-collapse li:not(:last-child) {
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: black;
}